{% extends "base.html" %}
{% load static %}
{% block content %}
{% load i18n %}


<div class="main-container">
	<nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
	  <div class="container">
		<div class="row justify-content-center">
		  <div class="col">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a>
			  </li>
			  <li class="breadcrumb-item active" aria-current="page">Politique de confidentialité</li>
			</ol>
		  </div>
		  <!--end of col-->
		</div>
		<!--end of row-->
	  </div>
	  <!--end of container-->
	</nav>
	<section class="bg-white">
	  <div class="container">
		<div class="row justify-content-center">
		  <div class="col-12 col-md-10 col-lg-7">
			<h1 class="display-4">Politique de confidentialité </h1>
		  </div>
		  <!--end of col-->
		</div>
		<!--end of row-->
	  </div>
	  <!--end of container-->
	</section>
	<!--end of section-->
	<section>
	  <article class="container">
		<div class="row justify-content-center">
		  <div class="col-12 col-md-8 col-lg-6">

				<span class="font-weight-bold">Dernière mise à jour : 19/12/2023</span>
				
				<h5>1. Introduction</h5>
				
				<p>Bienvenue sur la politique de confidentialité d'Ayden Placement (ci-après dénommée "Nous", "Notre" ou "Nos"). </p>
				<p>Nous nous engageons à protéger la confidentialité et la sécurité des informations personnelles que vous nous fournissez. </p>
				<p>Cette politique explique comment nous collectons, utilisons, divulguons et protégeons vos informations.</p>
				
				<h5>2. Informations que Nous Collectons</h5>
				
			 	<p>Nous collectons des informations personnelles directement auprès de vous, telles que votre nom, votre adresse e-mail, votre numéro de téléphone, votre expérience professionnelle, vos compétences et toute autre information pertinente pour le processus de recrutement.</p>
				
				<h5>3. Utilisation des Informations Personnelles</h5>
				
				<p>Nous utilisons vos informations personnelles aux fins suivantes :</p>

					<ul>
						<li>
							Pour améliorer votre adéquation avec les opportunités d'emploi disponibles.
						</li>
						<li>
							Pour vous mettre en relation avec des employeurs potentiels.
						</li>
						<li>
							Pour faciliter le processus de recrutement et d'embauche.
						</li>
						<li>
							Pour vous informer des opportunités d'emploi pertinentes.
						</li>
						<li>
							Pour améliorer nos services et personnaliser votre expérience.
						</li>
					</ul>
				
				<h5>4. Divulgation des Informations Personnelles</h5>
				
				<p>Nous ne divulguerons vos informations personnelles qu'aux niveaux suivants, et uniquement dans la mesure nécessaire pour fournir nos services :</p>
					<ul>
						<li>
							Aux employeurs potentiels intéressés par votre profil.
						</li>
						<li>
							À nos partenaires et prestataires de services impliqués dans le processus de recrutement.
						</li>
						<li>
							Lorsque requis par la loi ou pour protéger nos droits légaux.
						</li>
					</ul>
				
				<h5>5. Sécurité des Informations Personnelles</h5>
				
				<p>Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, utilisation abusive, altération ou destruction.</p>
				
				<h5>6. Cookies et Technologies Similaires</h5>
				
				<p>Nous pouvons utiliser des cookies et d'autres technologies similaires pour améliorer votre expérience sur notre site web. </p>
				<p>	Vous avez le choix de les accepter ou de les refuser en modifiant les paramètres de votre navigateur.</p>
				
				<h5>7. Accès et Contrôle de Vos Informations</h5>
				<p>Vous disposez du droit d'accéder, de corriger et de supprimer vos informations personnelles. </p>
				<p>Vous pouvez également vous opposer au traitement de certaines données. Pour exercer ces droits, veuillez nous contacter à aydenplacement@gmail.com.</p>
				
				<h5>8. Modifications de la Politique de Confidentialité</h5>
				
				<p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. </p>
				<p>Les modifications prendront effet dès leur publication sur notre site web. Nous vous encourageons à consulter régulièrement cette politique.</p>
				
				<h5>9. Contacter</h5>			
				<p>Pour toute question concernant cette politique de confidentialité, veuillez nous contacter à contact@aydennplacement.ca.</p>
				<p>Merci de faire confiance à Ayden Placement pour vos besoins en recrutement.</p>
			
		</div>
		<!--end of row-->
	  </article>
	  <!--end of container-->
	</section>
	<!--end of section-->
	
</div>
  {% endblock content %}
